In [8]:
import pandas as pd
import numpy as np

In [10]:
df =pd.read_csv('Raw Sales Data.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB
None

In [105]:
#1. Monthwise number of quantities sold

In [63]:
import pandas as pd
import numpy as np
df = pd.read_csv('Raw Sales Data.csv')
df['Qty'] = df['Qty'].str.replace(',', '')
df['Qty'] = pd.to_numeric(df['Qty'], errors='coerce')
monthwise_Qty = df.groupby(df['Month'])['Qty'].sum().reset_index() 
monthwise_Qty

       Month    Qty
0  01-Dec-20  85427
1  01-Feb-21  76393
2  01-Jan-21  67732
3  01-Mar-21  80229

In [94]:
# 2. Category wise Qty sold

In [61]:
import pandas as pd
import numpy as np
df = pd.read_csv('Raw Sales Data.csv')
df['Qty'] = df['Qty'].str.replace(',', '')
df['Qty'] = pd.to_numeric(df['Qty'], errors='coerce')
categorywise_Qty = df.groupby('Category')['Qty'].sum().reset_index()
categorywise_Qty

               Category     Qty
0  Functional nutrition   42354
1     Gourmet Nutrition   89279
2                Juices  178148

In [114]:
# 3. Sub-channel wise total sales

In [59]:
import pandas as pd
import numpy as np
df = pd.read_csv('Raw Sales Data.csv')
df['Sales'] = df['Sales'].str.replace(',', '')
df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')
subchannelwise_sales = df.groupby('Sub-Channels')['Sales'].sum().reset_index()
subchannelwise_sales

         Sub-Channels     Sales
0              AMAZON  35606804
1          Big Basket   1207522
2                 D2C  28047538
3            Flipkart   3770415
4               GOQII    582600
5   Offline - Central    375332
6      Offline - East    811146
7        Offline - MT   6257948
8     Offline - South   3446395
9      Offline - West   6441427
10     Offline -North   1206564

In [118]:
 #4. Highest sale in which month

In [57]:
import pandas as pd
import numpy as np
df = pd.read_csv('Raw Sales Data.csv')
df['Sales'] = df['Sales'].str.replace(',', '')
df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')
month_sales = df.groupby(df['Month'])['Sales'].sum().reset_index()
highestsale_month = month_sales.loc[month_sales['Sales'].idxmax()]
highestsale_month

Month    01-Mar-21
Sales     25127827
Name: 3, dtype: object

In [ ]:
# 5. Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM
 #JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [55]:
import pandas as pd
import re
df =pd.read_csv('Raw Sales Data.csv')

# Convert 'Sales' to numeric by removing commas
df['Sales'] = df['Sales'].str.replace(',', '').astype(int)

# Function to clean product name (remove size info)
def clean_product_name(name):
    return re.sub(r'\s*\b(\d+\s*(ML|L|GM|G|KG|LTR|GRAMS))\b', '', name, flags=re.IGNORECASE).strip()

# Apply the function to get cleaned names
df['Cleaned Product Name'] = df['Product Name'].apply(clean_product_name)

# Group by cleaned name and sum the sales
grouped = df.groupby('Cleaned Product Name')['Sales'].sum().reset_index()

# Sort and find the top-selling product
top_product = grouped.sort_values(by='Sales', ascending=False).head(1)

print("Highest Selling Product:")
top_product

Highest Selling Product:

    Cleaned Product Name     Sales
1  ALOE + GARCINIA JUICE  12249252

In [ ]:
#6.List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET
 #SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [161]:
import pandas as pd
import re


df = pd.read_csv('Raw Sales Data.csv')
# Function to clean product name by removing quantity/size
def clean_product_name(name):
    return re.sub(r'\s*\b(\d+\s*(ML|L|LTR|GM|G|KG|GRAMS))\b', '', name, flags=re.IGNORECASE).strip()

# Apply function
df['Cleaned Product Name'] = df['Product Name'].apply(clean_product_name)

# Get unique product names
unique_products = df['Cleaned Product Name'].unique()

# Display list
print("List of different products:")
for product in unique_products:
    print("-", product)

List of different products:
- ALOE + AMLA JUICE
- ALOE + GARCINIA JUICE
- ALOE VERA JUICE
- ALOE VERA SKIN GEL
- NEEM JUICE
- NONI JUICE
- SLIM SHAKE - CHOCOLATE
- SLIM SHAKE - MANGO
- TRIPHALA JUICE
- TULSI GILOY JUICE
- WHEAT GRASS JUICE
- AMLA JUICE
- GET SLIM JUICE
- HIMALAYA OIL 20 GRMS
- VIGOR MAX JUICE
- ORGANIC JAGGERY POWDER
- APPLE CIDER VINEGAR500 grams
- VIRGIN COCONUT OIL
- KARELA JAMUN JUICE
- MASALA SUPERGRAIN MIX ENERGY ( OFFLINE)
- MASALA SUPERGRAIN MIX IMMUNITY ( OFFLINE)
- AMLA + GILOY JUICE
- DIA FREE JUICE
- IMMUNE CARE JUICE
- MASALA SUPERGRAIN MIX IMMUNITY
- ORGANIC GULKAND
- VEGAN PROTEIN - CHOCOLATE
- GET SLIM CAPSULES 60 CAPS
- RAW HONEY ( MADHU)

In [185]:
p=pd.DataFrame(unique_products,columns=["Product"])

In [ ]:
#7. Create a single excel file to save all the outputs generated above in different subsheets.

In [191]:
writer = pd.ExcelWriter('FMCG_Summary.xlsx',engine='xlsxwriter')   
df.to_excel(writer,sheet_name='complete data',index=False)   
monthwise_Qty.to_excel(writer,sheet_name='ans 1',index=False)
categorywise_Qty.to_excel(writer,sheet_name='ans 2',index=False)
subchannelwise_sales.to_excel(writer,sheet_name='ans 3',index=False)
highestsale_month.to_excel(writer,sheet_name='ans 4',index=False)
top_product.to_excel(writer,sheet_name='ans 5',index=False)
p.to_excel(writer,sheet_name='ans 6',index=False)
writer.close()